        <!---导航end--->
    <div class="default-state"><span class="state-text"><span class="state-pic">＞</span>愿望列表</span></div>
    <!---内容start--->
    <div class="area-center center">
    </div>
    <!---内容end--->

</div>

<div class="list-wrap">

    <ul class="list-title">
        <li class="on">愿望ID</li>
        <li>愿望标题</li>
        <li>愿望内容</li>
        <li>愿望图片</li>
        <li>时间</li>
        <li>操作</li>
    </ul>

    <!----报价列表 ---->
    <?php if($wish): ?>
    <?php foreach($wish as $item): ?>
    <ul>
        <li class="on"><?php echo $item['wish_id'];?></li>
        <li><?php echo $item['title'];?></li>
        <li title="<?php echo $item['content'];?>"><?php echo $item['content'];?></li>
        <li><img src="/index/get_image?path=<?php echo $item['file_path'];?>"></li>
        <li><?php echo $item['addtime'];?></li>
        <li>
            <a href="/admin/wish_comment_list?wish_id=<?php echo $item['wish_id'];?>"><img src="/images/admin/icon_edit.gif" title="评论列表"></a>
            <a class="a-dele" style="margin:0 0 0 10px;" onclick="return dele('报价ID:<?php echo $item['wish_id'];?>');" href="/admin/wish_list_del?wish_id=<?php echo $item['wish_id'];?>"><img src="/images/admin/icon_trash.gif" title="删除"></a>
        </li>
    </ul>
    <?php endforeach; ?>
    <?php endif; ?>

</div>
<div class="none-height" style="height: 1px;"></div>
<div class="foot">
    <p class="foot-p">装修报价系统<span>ver.1.0.0</span></p>
</div>

<div style="clear:both;"></div>

</body></html>

<script type="text/javascript">

</script>