
    <!---导航start--->
    <div class="index-meu">
        <nav>
            <ul class="dropdown">
                <li class="drop "><a class="hover0" href="">报价管理</a>
                    <ul class="sub_menu">
                        <li><a href="/admin/quotation_list">报价列表</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="dropdown">
                <li class="drop "><a class="hover0" href="">愿望清单</a>
                    <ul class="sub_menu">
                        <li><a href="/admin/wish_list">愿望列表</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div style="clear:both;"></div>
    </div>

    <!---导航end--->
    <div class="default-state"><span class="state-text"><span class="state-pic">＞</span>报价列表</span></div>
    <!---内容start--->
    <div class="area-center center">

        <!----table  begin--->

        <table width="92%" class="table" style=" ">
            <tbody>
                <tr>
                    <th>报价ID</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>图片</th>
                    <th>价格</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>

                <!----报价列表 ---->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="text" name="price" value="" placeholder="请输入价格" size="7">
                    </td>
                    <td></td>
                    <td>
                        <img src="/images/admin/icon_trash.gif" title="删除">
                    </td>
                </tr>

            </tbody>
        </table>
        <!----table end---->
    </div>
    <!---内容end--->


</div>
<div class="none-height" style="height: 1px;"></div>
<div class="foot">
    <p class="foot-p">装修报价系统<span>ver.1.0.0</span></p>
</div>

<div style="clear:both;"></div>

</body></html>