
    <!---导航end--->
    <div class="default-state">
        <span class="state-text"><span class="state-pic">＞</span>评论列表</span>
        <a class="goback-a" href="" onclick="javascript:window.history.back('-1');">返回</a>
    </div>
    <!---内容start--->
    <div class="area-center center">
    </div>
    <!---内容end--->

</div>

<div class="list-wrap">

    <ul class="list-title">
        <li class="on">评论ID</li>
        <li>评论内容</li>
        <li>回复内容</li>
        <li>已回复</li>
        <li>时间</li>
        <li>操作</li>
    </ul>

    <!----报价列表 ---->
    <?php if($comment): ?>
    <?php foreach($comment as $item): ?>
    <ul>
        <li class="on"><?php echo $item['comment_id'];?></li>
        <li><?php echo $item['question'];?></li>
        <li>
            <form action="/admin/do_upgrade_wish_commnet_answer" method="post" style="position:relative;">
                <textarea name="answer" cols="30" rows="10" style="width: 155px;height: 25px;"><?php echo $item['answer'];?></textarea>
                <input type="hidden" name="comment_id" value="<?php echo $item['comment_id'];?>">
                <input type="hidden" name="wish_id" value="<?php echo $wish_id;?>">
                <input type="submit" value="回复" style="position: absolute; bottom:0;right:0;">
            </form>
        </li>
        <li><?php echo $item['is_answer'] ? '是' : '否';?></li>
        <li><?php echo $item['addtime'];?></li>
        <li>
            <a class="a-dele" style="margin:0 0 0 10px;" onclick="return dele('评论ID:<?php echo $item['comment_id'];?>');" href="/admin/wish_comment_del?comment_id=<?php echo $item['comment_id'];?>&wish_id=<?php echo $wish_id;?>"><img src="/images/admin/icon_trash.gif" title="删除"></a>
        </li>
    </ul>
    <?php endforeach; ?>
    <?php endif; ?>

</div>
<div class="none-height" style="height: 1px;"></div>
<div class="foot">
    <p class="foot-p">装修报价系统<span>ver.1.0.0</span></p>
</div>

<div style="clear:both;"></div>

</body></html>

<script type="text/javascript">

</script>