
    <!---导航end--->
    <div class="default-state"><span class="state-text"><span class="state-pic">＞</span>报价列表</span></div>
    <!---内容start--->
    <div class="area-center center">
    </div>
    <!---内容end--->

</div>

<div class="list-wrap">

    <ul class="list-title">
        <li class="on">报价ID</li>
        <li>报价标题</li>
        <li>描述</li>
        <li>报价附件</li>
        <li>复价附件</li>
        <li class="on">状态</li>
        <li>时间</li>
        <li>操作</li>
    </ul>

    <!----报价列表 ---->
    <?php if($list): ?>
    <?php foreach($list as $item): ?>
        <ul>
            <li class="on"><?php echo $item['quotation_id']; ?></li>
            <li><?php echo $item['enquiry_title']; ?></li>
            <li title="<?php echo $item['enquiry_content'];?>" class="active"><?php echo $item['enquiry_content'];?></li>
            <li style="position: relative;">
                <?php if($item['enquiry_attach']): ?>
                    <div class="sub-list-wrap">
                        <ul class="sub-list">
                            <li>
                                <a href="/index/get_file?path=<?php echo $item['enquiry_file_path'];?>&origin_name=<?php echo $item['enquiry_origin_name'];?>"><?php echo $item['enquiry_origin_name'];?></a>
                            </li>
                            <li>
                                <a href="/index/get_file?path=<?php echo $item['enquiry_file_path'];?>&origin_name=<?php echo $item['enquiry_origin_name'];?>"><?php echo $item['enquiry_origin_name'];?></a>
                            </li>
                            <li>
                                <a href="/index/get_file?path=<?php echo $item['enquiry_file_path'];?>&origin_name=<?php echo $item['enquiry_origin_name'];?>"><?php echo $item['enquiry_origin_name'];?></a>
                            </li>
                        </ul>
                    </div>
                <?php else: ?>
                    没有上传
                <?php endif; ?>

            </li>
            <li>
                <?php if($item['reply_attach']): ?>
                    <a href="/index/get_file?path=<?php echo $item['reply_file_path'];?>&origin_name=<?php echo $item['reply_origin_name'];?>"><?php echo $item['reply_origin_name'];?></a>
                <?php else: ?>
                    没有上传
                <?php endif; ?>
            </li>
            <li class="on"><?php echo($item['is_reply'] ? '已报价' : '未报价' ); ?></li>
            <li><?php echo $item['addtime']?></li>
            <li>
                <a href="/admin/quotation_edit?qid=<?php echo $item['quotation_id'];?>"><img src="/images/admin/icon_edit.gif" title="编辑"></a>
                <a class="a-dele" style="margin:0 0 0 10px;" onclick="return dele('报价ID:<?php echo $item['quotation_id'];?>');" href="/admin/quotation_del?qid=<?php echo $item['quotation_id'];?>"><img src="/images/admin/icon_trash.gif" title="删除"></a>
            </li>
        </ul>
    <?php endforeach; ?>
    <?php endif; ?>

</div>
<div class="none-height" style="height: 1px;"></div>
<div class="foot">
    <p class="foot-p">装修报价系统<span>ver.1.0.0</span></p>
</div>

<div style="clear:both;"></div>

</body></html>

<script type="text/javascript">

</script>