<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/quotation.css" type="text/css">
    <link rel="stylesheet" href="/css/reset.css">
    <script src="/js/jquery-1.12.1.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="wrap">
    <!-- logo  -->
    <div class="logo-wrap">
        <img src="/images/logo.jpg" alt="新昌logo" width="200">
    </div>
    <!-- nav start -->
    <div class="nav">
        <ul class="nav-list clearfix">
            <li>
                <a href="###">Home</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">About</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Corporate</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Private</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Excellence</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Store</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Contacts</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li class="nav-list-last">
                <a href="">MyProject</a>
                <ul class="nav-list-sub">
                    <li><a href="/index/quotation">quotation</a></li>
                    <li><a href="/index/wish_list">wish list</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- nav end -->
    <div class="split-wrap">
        <div class="split"></div><!--
			<span>Hello</span> -->
    </div>
    <!-- sub-nav start -->
    <div class="sub-nav">
        <i class="home-icon"></i>
        <span>&gt;</span>
        <a href="###"><span>MyProject</span></a>
        <span>&gt;</span>
        <a href="###"><span>Management</span></a>
    </div>
</div>
<div class="box">
    <div class="top">
        <img src="/images/wish/fonter.jpg" alt="" width="1098" height="" />
    </div>
    <div class="content">
        <span class="content-add">+</span>
        <div class="con-need-add">
            <i class="con-need-add-close"></i>
            <form action="/quotation/add" method="post" enctype="multipart/form-data">
                项目名称：<input type="text" class="project-name" name="enquire_title"><br/><br/>
                咨询日期：<span><?=date('d/m/y');?></span><br/>
                <br/>
                <span style="position: absolute;">项目描述：</span>
                <textarea name="enquiry_content" cols="30" rows="10" class="need-miaoshu"></textarea>
                <input type="submit" class="add-submit" value="save"><br/>
                <i class="file-icon"></i>
                <input type="file" class="file-input" name="enquiry_attach">
            </form>
        </div><!--
			<div class="con-keepSuccess">
				<div class="con-keepSuccess-tip">保存成功</div>
				<span>确定</span>
			</div> -->
        <div class="con-need">
            <p class="con-title">1.万达广场的需求</p>
            <p>万达广场商品按面积12.9万平方米，地面共27层，三层地下室，格局通风透光。水电，配齐排污排风全包，工程需要多少钱？</p>
            <p>回复&nbsp;:&nbsp;基于万达初次查询的报价</p>
            <div>
                <i class="file-icon"></i>
                <input type="file">
            </div>
            <div class="con-edi">
                <i></i>
                <span>编辑</span>
            </div>
            <div class="con-edi-hide">
                <i class="con-need-add-close"></i>
                <form action="" method="post">
                    项目名称：<input type="text" class="project-name"><br/><br/>
                    咨询日期：<span>dd/mm/yy</span><br/>
                    <br/>
                    <span style="position: absolute;">项目描述：</span>
                    <textarea name="" id="" cols="30" rows="10" class="need-miaoshu"></textarea>
                    <div class="add-submit">save</div><br/>
                    <i class="file-icon"></i>
                    <input type="file" class="file-input">
                </form>
            </div>
            <div class="con-del">
                <i></i>
                <span>删除</span>
            </div>
            <div class="con-split"></div>

        </div>
        <div class="con-need">
            <p class="con-title">1.万达广场的需求</p>
            <p>万达广场商品按面积12.9万平方米，地面共27层，三层地下室，格局通风透光。水电，配齐排污排风全包，工程需要多少钱？</p>
            <p>回复&nbsp;:&nbsp;基于万达初次查询的报价</p>
            <div>
                <i class="file-icon"></i>
                <input type="file">
            </div>
            <div class="con-edi">
                <i></i>
                <span>编辑</span>
            </div>
            <div class="con-edi-hide">
                <i class="con-need-add-close"></i>
                <form action="" method="post">
                    项目名称：<input type="text" class="project-name"><br/><br/>
                    咨询日期：<span>dd/mm/yy</span><br/>
                    <br/>
                    <span style="position: absolute;">项目描述：</span>
                    <textarea name="" id="" cols="30" rows="10" class="need-miaoshu"></textarea>
                    <div class="add-submit">save</div><br/>
                    <i class="file-icon"></i>
                    <input type="file" class="file-input">
                </form>
            </div>
            <div class="con-del">
                <i></i>
                <span>删除</span>
            </div>
            <div class="con-split"></div>

        </div>
    </div>
</div>
<script src="/js/quotation.js"></script>
</body>
</html>