<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/wish.css" type="text/css">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/public.css" type="text/css">
    <script src="/js/jquery-1.12.1.min.js"></script>

</head>

<body>
<!-- 头部开始 -->
<div class="wrap">
    <!-- logo  -->
    <div class="logo-wrap">
        <img src="/images/logo.jpg" alt="新昌logo" width="200">
    </div>
    <!-- nav start -->
    <div class="nav">
        <ul class="nav-list clearfix">
            <li>
                <a href="###">Home</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">About</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Corporate</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Private</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Excellence</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Store</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li>
                <a href="###">Contacts</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXx</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
            <li class="nav-list-last">
                <a href="###" class="on">MyProject</a>
                <ul class="nav-list-sub">
                    <li><a href="###">XXXXXXX</a></li>
                    <li><a href="###">XXXXXXXXXXxdfsdfsdfsdfsdfsd</a></li>
                    <li><a href="###">XXXXX</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- nav end -->
    <div class="split-wrap">
        <div class="split"></div><!--
			<span>Hello</span> -->
    </div>
    <!-- sub-nav start -->
    <div class="sub-nav">
        <i class="home-icon"></i>
        <span>&gt;</span>
        <a href="###"><span>MyProject</span></a>
        <span>&gt;</span>
        <a href="###"><span>Management</span></a>
    </div>
    <!-- sub-nav end -->
    <div class="wish">
        <div class="banner">
            <img src="/images/wish/1.jpg" alt="" width="535" height="300" />
            <img src="/images/wish/2.jpg" alt="" width="535" height="300" />
        </div>
        <div class="w-split">
            <div class="w-split-line"></div>
            <h1>WISH</h1>
            <div class="w-split-line"></div>
        </div>
        <div class="w-main">
            <!--列表-->
            <?php if($wish): ?>
            <?php foreach($wish as $ws): ?>
                <div class="list">
                    <div class="list-top">
                        <img src="/index/get_image?path=<?php echo $ws['file_path'];?>" alt="" width="245" height="250"/>
                        <p class="img-title">
                            <span class="projectName"><?php echo $ws['title'];?></span>
                            <span class="time"><?php echo $ws['addtime'];?></span>
                        </p>
                        <span class="list-massage">1</span>
                        <input type="hidden" value="" />
                    </div>
                    <div class="list-bottom clearfix">
                        <div class="icon-wrap1">
                            <span>报价</span><i class="icon1"></i>
                        </div>
                        <div class="icon-wrap2">
                            <span>评论</span><i class="icon2"></i>
                        </div>
                        <div class="icon-wrap3" data-wish_id="<?php echo $ws['wish_id'];?>">
                            <span>编辑</span><i class="icon3"></i>
                        </div>
                    </div>
                    <!--报价弹出-->
		            <div class="consult-wrap">
		                <div class="price-w-t clearfix">
		                    <img src="/images/wish/list5.jpg" alt="" width="200" height="205" class="price-w-t-img" />
		                    <div>
		                        <span class="p-name"></span>
		                        <span class="time"><?php echo $ws['addtime'];?></span>
		                        <p></p>
		                    </div>
		                </div>
		                <div class="price-w-b">
		                    <div class="price-w-b-t">
		                        Quotation
		                    </div>
		                    <div class="price-w-b-b">
		                        <span>Seller&nbsp;:&nbsp;kagasdfs</span>
		                        <span>Phone&nbsp;:&nbsp;321654987</span>
		                        <span>Time&nbsp;:&nbsp;dd/mm/yy XX:XX</span>
		                        <div class="split"></div>
		                        <div class="file-wrap">
		                            <i></i>
		                            <span>Attachment:</span>
		                            <input type="file" />
		                        </div>
		                    </div>
		                </div>
		                <i class="consult-wrapw-split-line-close"></i>
		            </div>
		             <!--评论弹出-->
		            <div class="price-wrap">
                        <form action="/wish/add_wish_comment?wish_id=<?php echo $ws['wish_id']; ?>" target="_add_wish_comment_" method="post">
                            <div class="price-w-t clearfix">
                                <img src="/index/get_image?path=<?php echo $ws['file_path'];?>" alt="" width="200" height="205" class="price-w-t-img" />
                                <div>
                                    <span class="p-name"></span>
                                    <span class="time"><?php echo $ws['addtime'];?></span>
                                    <p class="describe"></p>
                                </div>
                            </div>
                            <div class="price-w-b">
                                <div class="price-w-b-t">
                                    评论
                                </div>
                                <div class="price-w-b-b">
                                    <input type="text"  name="add_wish_comment[<?php echo $ws['wish_id'];?>]"/>
                                    <span><input type="submit" value="保存"></span>
                                    <div class="dialog-wrap">问答</div>
                                </div>
                            </div>
                            <i class="price-wrap-close"></i>
                        </form>
                        <iframe name="_add_wish_comment_" style="display:none;"></iframe>
		            </div>

		            <!--编辑弹出-->
		            <div class="editor">
                        <form action="/wish/edit_wish_list?wish_id=<?php echo $ws['wish_id'];?>" id="_edit_wish_list_<?php echo $ws['wish_id'];?>" method="post">
                            <div class="eidtor-con clearfix">
                                <img src="/index/get_image?path=<?php echo $ws['file_path'];?>" width="200" height="205" class="eidtor-con-img fl" />
                                <div class="eidtor-con-change fl">
                                    <input name="edit_wish_title[<?php echo $ws['wish_id'];?>]" type="text" placeholder="请输入愿望主题" class="p-name" />
                                    <span class="time"><?php echo $ws['addtime'];?></span>
                                    <textarea name="edit_wish_content[<?php echo $ws['wish_id'];?>]" cols="30" rows="10"><?php echo $ws['content']; ?></textarea>
                                    <input type="hidden" name="edit_wish_id[<?php echo $ws['wish_id'];?>]" value="<?php echo $ws['wish_id'];?>">
                                </div>
                            </div>
                            <i class="price-wrap-close"></i>
                            <span class="editor-save"><input type="button" value="save<?php echo $ws['wish_id'];?>"></span>
                            <iframe name="_edit_wish_list_<?php echo $ws['wish_id'];?>" style="display:none;"></iframe>
                        </form>
		            </div>
                </div>
            <?php endforeach; ?>
            <?php endif; ?>

            <!--添加-->
            <div class="list on" style="position: relative;">
                <i class="add">+</i>
                <form action="/wish/add_wish_list" method="POST" name="add_wish_list" target="_XinChang_" enctype="multipart/form-data">
                    <input type="file" class="list-file" name="add_wish_list" />
                </form>
                <iframe name="_XinChang_" style="display:none;"></iframe>
            </div>

        </div>
        <div class="w-f">
            <img src="/images/wish/fonter.jpg" alt="" width="1098" height="" />
        </div>
    </div>
</div>
    <script src="/js/common.js"></script>
    <script src="/js/wish.js"></script>
</body>
</html>
